#safe-popup {
	font-size: 35px;
	transition: opacity 0.25s ease-in-out;
}

#type-container {
	transition: margin 0.25s linear,
		opacity 0.5s ease-in-out;
	padding: 150px;
}

#safe-popup .char {
	text-align: center;
	color: #888;
	transition: font-size 0.1s ease-in-out,
		color 0.1s ease-in-out;
	margin: 15px 0;
	text-shadow: 0 0 1px #000;
}

#safe-popup .char.passed {
	color: #444;
}

#safe-popup .char.active {
	color: #fff;
	font-weight: bold;
}

#safe-popup progress {
	position: fixed;
	top: 10px;
	width: 100%;
	left: 0;
	transition: opacity 0.5s ease-in-out;
}

#msg {
	position: fixed;
	text-align: center;
	top: 150px;
	left: 10px;
	color: #fff;
}