#safe-popup {
	font-size: 35px;
	transition: opacity 0.25s ease-in-out;
}

#type-container {
	transition: margin 0.25s linear;
	padding: 150px;
}

#safe-popup .char {
	text-align: center;
	color: #888;
	transition: font-size 0.1s ease-in-out,
		color 0.1s ease-in-out;
	margin: 15px 0;
}

#safe-popup .char.active {
	color: #fff;
	font-size: 1.5em;
	margin: 25px 0;
}